html,body{

	width:100%; height:100%;
	margin: 0;
	padding: 0;
	font-family: "Hiragino Kaku Gothic OriN", "Meiryo", sans-serif;

}

	ul{
		list-style: none;
		margin: 0;
		padding: 0 0 5px 0;

	}
	
	li{
		list-style: none;
		padding: 0;
	}
	
	.link-w{
		border: solid #04B404;
		border-width: 1px 0 0 0;
		font-size: 25px;
	}
	
	.link{
		background: url(../img/list_button.png) 98% 50% no-repeat;
		background-size: 20px 20px;
		display: block;
		/*heightとline-heightが同じ値で中央寄せ*/
		height: 60px;
		line-height: 60px;
		padding-left: 10px;
	}
	
	.link-w:last-child{
		/*最後のリンクに下線を付ける*/
		border-bottom-width: 1px;
	
	}
	
.com1{
	margin: 0 3px 0 3px;
	width: 25%;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background: #F781BE;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	opacity: 0.8;
}

#container{display:none;}
#loading{
	position:absolute;
	left:50%;
	top:10%;
	margin-left:-40px;
}

#rule{
	margin: 0;
	padding: 0;
	width: 80%;
	text-align: left;
}

#li_title{
	margin: 5px 0 5px 0;
	padding: 0;
	width: 80%;
	height: 30px;
	line-height: 30px;
	background: #1abc9c;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	opacity: 0.8;
}

.pre_menu{
	margin-top: 10px;
	width: 100%;
	height: 710px;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}

.main_content{
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
    background: url("../img/japan.png") no-repeat center top;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100%;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main_con{
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
    background: url("../img/back.png") no-repeat center top;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100%;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
	text-decoration: none;
}

.fb_iframe_widget > span {
		vertical-align: baseline !important;
}

/*PCでの仕様*/
h2 {
	width: 80%;
	margin: 5px 0 0 0;
	position: relative;
	padding: 0 0 0 5px;
	text-align: center;

}

.sns{
	margin: 5px 0 0 0;
	padding-top: 5px;
	width: 80%;
	text-align: right;
}

.comment{
	width: 80%;
	text-align: left;
	padding-bottom: 10px;
}

#slide{
    position: fixed;
    text-align: center;
    margin: 15px 15px 0 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: rgba(0, 0, 0, .25);
    color: #fff;
    z-index: 10;
}


#footer{
	color: #fff;
	width: 100%;
	bottom: 0px;
	background-color: #000;
	position: fixed;
	z-index: 10;
}


#toggle:hover{
	cursor: pointer;
}

#menu{
	text-align: left;
	width: 200px;
	padding: 10px 0 0 15px;
	color: #fff;
}

#menu a{
	text-decoration: none;
	color: #fff;
}

#menu a:hover {
    color: blue;

}

.pref{
	margin: 0;
	padding: 0;
	width: 80px;
	height: 80px;
	display: inline-block;
	line-height: 80px;
	border: 2px solid #000;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	color: #000;
}

.pref a{
	color: #000;
}

/*スマホサイトでの仕様*/
@media (max-width: 767px) {		
		h2{
			width: 95% !important;
		}
		
		.sns{
			width: 95% !important;
			padding: 5px;
		}
		
		.comment{
			width: 95% !important;
		}
		#li_title{
			width: 95% !important;
		}
		.com1{
			width: 30% !important;
		}
		#rule{width: 95% !important;}
		
		.pre_menu{height: 400px; !important;}
}

@media (min-width: 767px) {	
	.sns br {
    	display: none;
  	}
}